---
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<BaseLayout title={`Blog - ${SITE_TITLE}`} description={SITE_DESCRIPTION}>
  <h1 class="text-4xl font-semibold">Blog</h1>
  <section class="my-8">
      { posts.length === 0 ? "No posts just yet.": (
        <ul>
          {
            posts.map((post) => (
              <li class="my-4">
                <div>
                  <a class="text-xl font-bold hover:underline" href={`/blog/${post.slug}/`}>{post.data.title}</a>
                </div>
                <p>{post.data.description}</p>
                <FormattedDate small date={post.data.pubDate} />
              </li>
            ))
          }
        </ul>
      )}
  </section>
  <hr />
</BaseLayout>
