---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import BaseLayout from './BaseLayout.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <article>
    <h1 class="text-4xl font-semibold">{title}</h1>
    <FormattedDate date={pubDate} />
    {
      updatedDate && (
        <div>
          Last updated on <FormattedDate date={updatedDate} />
        </div>
      )
    }
    <div class="py-8 prose">
      <slot />
    </div>
    <hr />
  </article>
</BaseLayout>
